NEXT_PUBLIC_SITE_URL=https://www.juliocabos.es
NEXT_PUBLIC_GA_ID=G-J1QKS5XKW4
RESEND_API_KEY=
INQUIRIES_NOTIFICATION_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
ADMIN_ALLOWED_EMAILS=juliocabosg@gmail.com,manuelmoralesg2@gmail.com
